sftp-config.json

Control.last-run
Control.ca-list
Control.ca-bundle
GitHub.sublime-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history